*,
html{
    margin: 0;
    padding: 0;
}

.container-navbar{
    width: 100%;
    
}
.ul-navbar{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
} 
.li-navbar {
   border: 2px solid white;
   list-style-type: none;
   margin: 5px;
   padding: 10px;
   color: white;
}

.container-content {  
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-content {
    width: 35%;
    height: 35%;
}